<h1>Your order has been placed!</h1>
<img src=" <%= @order.product.images.first.url %>" alt="">
<p>Quantity:<%= @order.quantity %> </p>
<p>Your order id:<%= @order.id %> </p>
<p>Subtotal: <%= @order.subtotal %></p>
<p>Subtotal: <%= @order.tax %></p>
<p>Subtotal: <%= @order.total %></p>
<p>Email address: <%= @order.user.email %></p>
<p>Product Name: <%= @product.name %></p>


