<h1>Product info</h1>
<h2><%= @product.name %></h2>
<p><%= @product.sale_message %></p>
<p>MSRP: <%= number_to_currency(@product.price) %><p>
<p>Tax: <%= number_to_currency(@product.tax) %><p>
<p>Total: <%= number_to_currency(@product.total) %><p>
<p><%= @product.image %><p>
<p><%= @product.description %><p>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="delete product">
<% end %>
<a href="/products/<%= @product.id %>/edit">Edit Product</a>
<a href="/products">Back to all products</a>